html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: "Inter", sans-serif;
    color: #2a3647;
    background-color: #f6f7f8;
}

::placeholder {
    font-family: "Inter", sans-serif;
    color: #d1d1d1;
}

a {
    text-decoration: none;
    cursor: pointer;
}


/* section-board-start */

.board-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 96px;
    left: 232px;
    width: 1208px;
    height: 232px;
}

h1.board {
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
}

form.search-task-tag {
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid currentColor;
    border-radius: 5px;
}

input.search-task-in[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 8px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
}

input.search-task-input[type="search"]::placeholder {
    color: #bbb;
}

button.search-task-button[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: -999px;
    overflow: hidden;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 100%;
    background: no-repeat transparent url('./assets/img/search-bord.png');
    background-position: center;
    opacity: 0.7;
}

button.search-task-button[type="submit"]:hover {
    background: no-repeat transparent url('./assets/img/search-bord-blue.png');
    background-position: center;
    cursor: pointer;
    opacity: 1;
}

button.search-task-button[type="submit"]:focus,
input.search-task-input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    background-color: #E7E7E7;
    border-color: #1183d6;
    outline: none;
}

form.nosubmit {
    border: none;
    padding: 0;
}

input.nosubmit {
    border: 1px solid #555;
    width: 100%;
    padding: 9px 4px 9px 40px;
    background: transparent url('./assets/img/search-bord.png');
}

button.add-task {
    background-color: #2A3647;
    color: #FFFFFF;
    font-size: 21px;
    line-height: 25.2px;
    border-radius: 10px;
    margin-left: 32px;
}

button.add-task:hover {
    background-color: #091931;
    cursor: pointer;
}

.place-search-task {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-head-task {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 1208px;
    top: 50.5px;
    left: 232px;
}

.single-task-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 246px;
}

.board-body-task {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 1208px;
    left: 232px;
    top: 80.5px;
}

.style-task-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px;
    border-radius: 8px;
    border-color: #2A3647;
    gap: 10px;
    padding: 3px;
    width: 24px;
    height: 24px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

.empty-task-place {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 246px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    background-color: #E7E7E7;
    border: 1px;
    border-style: dashed;
    border-radius: 10px;
    border-color: #A8A8A8;
    gap: 10px;
}

.progress-bar {
    background-color: #F4F4F4;
    width: 128px;
    border-radius: 8px;
}

.progressbar {
    background-color: #4589FF;
    height: 20px;
    border-radius: 8px;
}


/* section-board-end */


/* single-task-style-start */

.single-task {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

p.user-story {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    padding: 4px 16px 4px 16px;
    background-color: #0038FF;
    gap: 10px;
    border-radius: 8px;
    text-align: center;
}

p.technical-task {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    padding: 4px 16px 4px 16px;
    background-color: #1FD7C1;
    gap: 10px;
    border-radius: 8px;
    text-align: center;
}

.place-task-progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-task-container {
    width: 252px;
    height: 252px;
    border-radius: 24px;
    padding: 16px;
    margin: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px 8px #00000009;
}


/* single-task-style-start */


/* section-law-start */

.place-law-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1.legal-head {
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
}

.law {
    position: relative;
    top: 206px;
    left: 328px;
    width: 1024px;
}

.place-law-head img {
    width: 21.33px;
    height: 20.74px;
}

.arrow-style {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 42px;
}

.arrow-style:hover {
    background-color: #EEEEEE;
}

.place-law-head img:hover {
    width: 23.93px;
}

/* section-law-end */

main.add_task {
    position: absolute;
    top: 96px;
    left: 232px;
    padding: 110px 96px;
    font-size: 20px;
    h1 {
        font-size: 61px;
        color: #000000;
    }
    .add-task-form-section {
        display: flex;
        flex-direction: row;
        h3 {
            font-size: 20px;
            margin-top: 50px;
            font-weight: 400;
        }
        .required-header {
            display: flex;
        }
        .input-with-button-wrapper {
            position: relative;
            display: flex;
            align-items: center;
            a {
                height: 24px;
                width: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: -40px;
                border-radius: 12px;
            }
            a:hover {
                background-color: #f6f7f8;
            }
        }
        .styled-input {
            width: 398px;
            height: 48px;
            padding: 1px 20px;
            border: 1px solid #d1d1d1;
            border-radius: 10px;
            font-size: 20px;
        }
        .focus-blue:focus {
            outline: none;
            border: 1px solid #5dbee7 !important;
        }
        .form-left {
            width: 440px;
            .bottom-section {
                position: absolute;
                bottom: 0px;
            }
        }
        #separator-vertical {
            width: 2px;
            background-color: #d1d1d1;
            margin: 0 48px;
        }
        .form-right {
            width: 440px;
            .bottom-section {
                position: absolute;
                display: flex;
                bottom: 0px;
                right: 96px;
                a {
                    box-sizing: border-box;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    width: 110px;
                    height: 56px;
                    background-color: #F6F7F8;
                    border: 1px solid #2A3647;
                    border-radius: 10px;
                    span {
                        color: #2A3647;
                    }
                    .bottom-section-cross {
                        height: 14px;
                        width: 13px;
                        margin-left: 10px;
                        background: url(./assets/img/cross.png) center no-repeat;
                    }
                }
                a:hover {
                    border: 2px solid #5dbee7;
                    box-shadow: 0px 4px 4px #d1d1d1;
                    span {
                        color: #5dbee7;
                    }
                    .bottom-section-cross {
                        background: url(./assets/img/cross-blue.png) center no-repeat;
                    }
                }
                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    width: 183px;
                    height: 56px;
                    margin-left: 16px;
                    background-color: #2A3647;
                    border: none;
                    border-radius: 10px;
                    span {
                        font-size: 21px;
                        color: white;
                    }
                    img {
                        margin-left: 10px;
                    }
                }
                button:hover {
                    background-color: #5dbee7;
                    box-shadow: 0px 4px 4px #d1d1d1;
                }
            }
        }
    }
}

#add_task_title {}

#add_task_description {
    .textarea-wrapper {
        position: relative;
        display: flex;
        align-items: center;
    }
    textarea {
        width: 398px;
        resize: vertical;
        border: 1px solid #d1d1d1;
        border-radius: 10px;
        min-height: 120px;
        font-size: 20px;
        padding: 20px;
    }
     ::-webkit-resizer {
        display: none;
    }
    .textarea-wrapper::after {
        position: absolute;
        pointer-events: none;
        content: "";
        height: 19px;
        width: 19px;
        bottom: 6px;
        right: 6px;
        background: url(./assets/img/resize-handler.png) no-repeat;
    }
}

#add_task_assigned_to {
     ::placeholder {
        color: black;
    }
}

#add_task_due_date {
    .calendar-input {
        position: absolute;
        right: 18px;
        color: transparent;
        border: 0;
        outline: none !important;
        background-color: transparent;
        width: 22px;
        height: 24px;
        padding: 0;
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        color: rgba(0, 0, 0, 0);
        opacity: 1;
        display: block;
        background: url(./assets/img/calendar.png) center no-repeat;
        width: 18px;
        height: 20px;
        cursor: pointer;
    }
}

#add_task_prio {
    .prio-buttons {
        display: flex;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            width: 136px;
            height: 56px;
            border: 1px solid #d1d1d1;
            box-shadow: 0px 0px 4px #d1d1d1;
            border-radius: 10px;
            margin-right: 16px;
            img {
                width: 20px;
                margin-left: 8px;
            }
        }
        a:not(.highlighted-button):hover {
            box-shadow: 0px 4px 4px #d1d1d1;
        }
        .highlighted-button {
            background-color: #ffa800;
            color: white;
            font-size: 21px;
            font-weight: 700;
        }
    }
}

#add_task_category {
     ::placeholder {
        color: black;
    }
}

#add_task_subtask {}

.add-task-form-left-bottom-section {
    position: absolute;
    bottom: 0px;
}