html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: "Inter", sans-serif;
    color: #2a3647;
    background-color: #f6f7f8;
}

.dnone {
    display: none !important;
}

.pointer {
    cursor: pointer;
}

::placeholder {
    font-family: "Inter", sans-serif;
    color: #d1d1d1;
}

a {
    text-decoration: none;
    cursor: pointer;
}


/* section-board-start */

.board-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 96px;
    height: 232px;
    margin-left: 272px;
    margin-right: 64px;
}

h1.board {
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
}

form.search-task-tag {
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid currentColor;
    border-radius: 5px;
}

form.search-task-tag:hover {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
}

input.search-task-in[type="search"] {
    border: none;
    background: transparent;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px 8px;
    font-size: 14px;
    border-radius: inherit;
    border-right: solid 1px transparent;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    border-color: rgba(128, 128, 128, 0.418);
}

input.search-task-input[type="search"]::placeholder {
    color: #bbb;
}

button.search-task-button[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: -999px;
    overflow: hidden;
    width: 32px;
    height: 32px;
    padding: 0;
    margin-right: 8px;
    margin-left: 8px;
    border: 1px solid transparent;
    border-radius: 100%;
    background: no-repeat transparent url('./assets/img/search-bord.png');
    background-position: center;
    opacity: 0.7;
}

input.search-task-input[type="search"]:hover,
button.search-task-button[type="submit"]:hover {
    background: no-repeat transparent url('./assets/img/search-bord-blue.png');
    background-position: center;
    cursor: pointer;
    opacity: 1;
    border: none;
}

input.search-task-in[type="search"]:focus {
    outline: none;
    border: none;
    border-radius: inherit;
    border-right: solid 1px transparent;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    border-color: rgba(128, 128, 128, 0.418);
}

form.search-task-tag:focus,
button.search-task-button[type="submit"]:focus {
    background-color: #E7E7E7;
    outline: none;
    border: none;
}

button.add-task {
    background-color: #2A3647;
    width: 160px;
    height: 56px;
    color: #FFFFFF;
    font-size: 21px;
    line-height: 25.2px;
    border-radius: 8px;
    border: none;
    margin-left: 32px;
}

button.add-task:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px #00000025;
    cursor: pointer;
}

.place-search-task {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-head-task {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 50.5px;
    margin-left: 272px;
    margin-right: 64px;
}

.single-task-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 246px;
}

.board-body-task {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 80.5px;
    margin-left: 272px;
    margin-right: 64px;
}

.style-task-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px;
    border-radius: 8px;
    border-color: #2A3647;
    gap: 10px;
    padding: 3px;
    width: 24px;
    height: 24px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

.style-task-button:hover {
    cursor: pointer;
    border-color: #29ABE2;
    color: #29ABE2;
}

.empty-task-place {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 246px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    background-color: #E7E7E7;
    border: 1px;
    border-style: dashed;
    border-radius: 10px;
    border-color: #A8A8A8;
    gap: 10px;
}

.progress-bar {
    background-color: #F4F4F4;
    width: 128px;
    border-radius: 8px;
}

.progressbar {
    background-color: #4589FF;
    height: 20px;
    border-radius: 8px;
}


/* section-board-end */


/* single-task-style-start */

.single-task {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 252px;
}

p.user-story {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    padding: 4px 16px 4px 16px;
    background-color: #0038FF;
    border-radius: 8px;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
}

p.technical-task {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    padding: 4px 16px 4px 16px;
    background-color: #1FD7C1;
    border-radius: 8px;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
}

.place-task-progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-task-container {
    width: 252px;
    height: 252px;
    border-radius: 24px;
    padding: 16px;
    margin: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px 8px #00000009;
}

.todo-task-container:hover {
    transform: rotate(20deg);
    cursor: pointer;
}


/* single-task-style-start */


/* information-card-start */

.information-bordcard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(24, 26, 27, 0.856);
    color: aquamarine;
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 32px;
}

.bord-add-tasks-field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 870px;
    width: 1116px;
    background-color: #FFFFFF;
    border-radius: 30px;
    color: #000000;
}

.single-task-field {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    height: 931px;
    width: 525px;
    background-color: #FFFFFF;
    border-radius: 30px;
    color: #000000;
}

.place-categorie-cross {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    margin-right: 40px;
    margin-left: 40px;
    width: 445px;
}

.place-delete-edit {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 48px;
    margin-right: 40px;
    margin-left: 40px;
    width: 445px;
}

img.single-task-close {
    width: 20px;
    height: 20px;
}

img.single-task-close:hover {
    cursor: pointer;
}

.place-delete-edit {
    display: flex;
    justify-content: end;
}

.delete-place {
    display: flex;
    padding-right: 8px;
}

.delete-place:hover {
    color: #0038FF;
    cursor: pointer;
}

.edit-place {
    display: flex;
    padding-left: 8px;
}

.edit-place:hover {
    color: #0038FF;
    cursor: pointer;
}

.one-px-line {
    width: 2px;
    height: 24px;
    background-color: #D1D1D1;
}

img.delete {
    width: 16px;
    height: 18px;
    padding-right: 8px;
}

img.edit {
    width: 16px;
    height: 18px;
    padding-right: 8px;
}

.place-single-information {
    margin: 40px;
    max-height: 100%;
    overflow: auto;
}

.place-single-information::-webkit-scrollbar {
    width: 8px;
}

.place-single-information::-webkit-scrollbar-thumb {
    background: #A8A8A8;
    border-radius: 8px;
}

.place-single-information::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8ad;
}

.scroll-wrapper {
    max-height: 100%;
    overflow: auto;
}

h1.task-head-bord {
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 24px;
}

.place-due-date-bord {
    padding-top: 24px;
    padding-bottom: 24px;
}

.assigned-to-bord {
    padding-top: 24px;
    padding-bottom: 24px;
}


/* information-card-end */


/* section-law-start */

.place-law-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1.legal-head {
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
}

.law {
    position: relative;
    top: 128px;
    margin-left: 290px;
    margin-right: 64px;
}

.place-law-body {
    margin-right: 128px;
}

.place-law-head img {
    width: 21.33px;
    height: 20.74px;
}

.arrow-style {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 68px;
    width: 32px;
    height: 32px;
    border-radius: 42px;
}

.arrow-style:hover {
    cursor: pointer;
    background-color: #EEEEEE;
}

.place-law-head img:hover {
    width: 23.93px;
}


/* section-law-end */

main.add-task {
    position: absolute;
    top: 96px;
    left: 232px;
    padding: 110px 96px;
    font-size: 20px;
    h1 {
        font-size: 61px;
        color: #000000;
        margin-top: 0;
        margin-bottom: 32px;
    }
    .add-task-form-section {
        display: flex;
        flex-direction: column;
        gap: 200px;
        .input-wrapper {
            display: flex;
            flex-direction: row;
            height: 424px;
        }
    }
}

main.edit-task {
    font-size: 20px;
    overflow-y: auto;
    h1 {
        font-size: 61px;
        color: #000000;
        margin-top: 0;
        margin-bottom: 32px;
    }
    .drop-down {
        position: relative;
    }
    .add-task-form-section {
        display: flex;
        flex-direction: column;
        gap: 200px;
        .input-wrapper {
            .input-box {
                margin: 20px 42px;
                gap: 20px;
            }
        }
    }
}

main.contacts {
    position: absolute;
    top: 96px;
    left: 232px;
    font-size: 20px;
    display: flex;
    height: 100%;
    .contact-list-box {
        height: 100%;
        width: 456px;
        background-color: white;
        .add-contact-button-box {
            margin: 22.5px 52px;
            button {
                padding: 0;
                cursor: pointer;
                transition: ease-in-out 100ms;
                background-color: #2A3647;
                border-radius: 10px;
                border: none;
                height: 56px;
                width: 352px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                span {
                    font-family: "Inter", sans-serif;
                    color: white;
                    font-size: 21px;
                    font-weight: 700;
                    margin-left: 64.5px;
                }
                img {
                    margin-right: 64.5px;
                }
            }
            button:hover {
                background-color: #5dbee7;
                box-shadow: 0px 4px 4px #d1d1d1;
            }
            button:active {
                background-color: #091931;
            }
        }
    }
}

.input-wrapper {
    .input-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 440px;
        margin: 0 48px;
    }
    .separator-vertical {
        width: 2px;
        background-color: #d1d1d1;
    }
    h3 {
        font-size: 20px;
        margin: 0 0 8px 0;
        font-weight: 400;
    }
    .required-header {
        display: flex;
    }
    .focus-blue:focus {
        outline: none;
        border: 1px solid #5dbee7 !important;
    }
    .styled-input {
        width: 398px;
        height: 48px;
        padding: 1px 20px;
        border: 1px solid #d1d1d1;
        border-radius: 10px;
        font-size: 20px;
        z-index: 10;
        background-color: white;
    }
    .input-with-button-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        a {
            height: 24px;
            width: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -40px;
            border-radius: 12px;
            z-index: 20;
        }
        a:hover {
            background-color: #f6f7f8;
        }
    }
    .required-field {
        font-size: 12px;
        font-family: "Poppins", sans-serif;
        color: #FF8190;
    }
}

#add_task_description {
    .textarea-wrapper {
        position: relative;
        display: flex;
        align-items: center;
    }
    textarea {
        width: 398px;
        resize: vertical;
        border: 1px solid #d1d1d1;
        border-radius: 10px;
        min-height: 120px;
        font-size: 20px;
        padding: 20px;
    }
     ::-webkit-resizer {
        display: none;
    }
    .textarea-wrapper::after {
        position: absolute;
        pointer-events: none;
        content: "";
        height: 19px;
        width: 19px;
        bottom: 6px;
        right: 6px;
        background: url(./assets/img/resize-handler.png) no-repeat;
    }
}

#add_task_assigned_to {
     ::placeholder {
        color: black;
    }
    #input_with_button_assigned_to {
        z-index: 300;
    }
    .drop-down {
        z-index: 290;
    }
    a {
        z-index: 310;
    }
}

#add_task_due_date {
    .calendar-input {
        position: absolute;
        right: 18px;
        color: transparent;
        border: 0;
        outline: none !important;
        background-color: transparent;
        width: 22px;
        height: 24px;
        padding: 0;
        z-index: 20;
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        color: rgba(0, 0, 0, 0);
        opacity: 1;
        display: block;
        background: url(./assets/img/calendar.png) center no-repeat;
        width: 18px;
        height: 20px;
        cursor: pointer;
    }
}

.add_task_prio {
    #prio-buttons {
        display: flex;
        justify-content: space-between;
        input {
            display: none;
        }
        label {
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: white;
            font-size: 20px;
            font-weight: 400;
            width: 136px;
            height: 56px;
            border: 1px solid #d1d1d1;
            box-shadow: 0px 0px 4px #d1d1d1;
            border-radius: 10px;
            transition: ease-in-out 100ms;
            img {
                width: 20px;
                margin-left: 8px;
            }
            [alt="urgent"] {
                filter: invert(41%) sepia(89%) saturate(5403%) hue-rotate(2deg) brightness(101%) contrast(107%);
            }
            [alt="medium"] {
                filter: invert(54%) sepia(99%) saturate(1276%) hue-rotate(5deg) brightness(111%) contrast(102%);
            }
            [alt="low"] {
                filter: invert(91%) sepia(88%) saturate(1842%) hue-rotate(32deg) brightness(94%) contrast(88%);
            }
        }
        label:not(.highlighted-button):hover {
            box-shadow: 0px 4px 4px #d1d1d1;
        }
        .highlighted-button {
            cursor: auto;
            color: white;
            font-size: 21px;
            font-weight: 700;
            border: none;
            img {
                filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(110deg) brightness(104%) contrast(101%) !important;
            }
        }
        .highlighted-button#prio_urgent_label {
            background-color: #ff3d00;
        }
        .highlighted-button#prio_medium_label {
            background-color: #ffa800;
        }
        .highlighted-button#prio_low_label {
            background-color: #7ae229;
        }
    }
}

#add_task_category {
     ::placeholder {
        color: black;
    }
    #input_with_button_category {
        z-index: 200;
    }
    .drop-down {
        z-index: 190;
    }
    a {
        z-index: 210;
    }
}

#add_task_subtask {
    .input-with-double-button {
        z-index: 35;
        display: flex;
        margin-left: -72px;
        a {
            margin: 0 4px 0 4px;
        }
        .separator-vertical {
            width: 1px !important;
        }
    }
    #selected_subtasks {
        position: absolute;
        width: 440px;
        max-height: 160px;
        overflow-y: auto;
        .selected-subtask-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 32px;
            margin-top: 8px;
            padding: 0px 16px;
            ul {
                margin: 0;
                margin-block-start: 0;
                li {
                    font-size: 16px;
                }
            }
            input {
                width: 100%;
                border: none;
                outline: none;
                font-size: 16px;
            }
             ::placeholder {
                color: black;
            }
            .double-button-container {
                display: flex;
                a {
                    margin: 0 4px 0 4px;
                    height: 24px;
                    width: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .separator-vertical {
                    width: 1px !important;
                }
            }
        }
    }
    .selected-subtask-container:hover {
        background-color: #EEEEEE;
    }
    .border-bottom-blue {
        border-bottom: 1px solid #29ABE2;
        background-color: white;
    }
    .border-bottom-blue:hover {
        background-color: white;
    }
}

.bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: end;
    bottom: -8px;
    right: 96px;
    button {
        cursor: pointer;
        transition: ease-in-out 100ms;
        border-radius: 10px;
        height: 56px;
        margin-left: 16px;
        margin-bottom: 8px;
        img {
            margin-left: 10px;
        }
    }
    button.clear-button {
        width: 110px;
        background-color: #f6f7f8;
        border: 1px solid #2A3647;
        span {
            font-size: 20px;
            color: #2A3647;
        }
        img {
            margin-left: 10px;
            filter: invert(17%) sepia(10%) saturate(1965%) hue-rotate(176deg) brightness(92%) contrast(86%);
        }
    }
    button.clear-button:hover {
        border: 2px solid #5dbee7;
        box-shadow: 0px 4px 4px #d1d1d1;
        span {
            color: #5dbee7;
        }
        img {
            filter: invert(67%) sepia(42%) saturate(534%) hue-rotate(155deg) brightness(95%) contrast(90%);
        }
    }
    button.clear-button:active {
        border: 1px solid #091931;
        span {
            color: #091931;
        }
        img {
            filter: invert(7%) sepia(28%) saturate(3492%) hue-rotate(193deg) brightness(97%) contrast(97%);
        }
    }
    button.create-task-button {
        width: 183px;
        background-color: #2A3647;
        border: none;
        span {
            font-size: 21px;
            color: white;
        }
    }
    button.create-task-button:hover {
        background-color: #5dbee7;
        box-shadow: 0px 4px 4px #d1d1d1;
    }
    button.create-task-button:active {
        background-color: #091931;
    }
}

.drop-down {
    position: absolute;
    background-color: white;
    margin-top: -10px;
    padding-top: 16px;
    max-height: 288px;
    width: 440px;
    overflow-y: auto;
    border-radius: 0px 0px 10px 10px;
}

.contact-list-entry {
    display: flex;
    justify-content: space-between;
    height: 24px;
    padding: 16px;
    border-radius: 10px;
    margin: 0 52px 2px 52px;
    .profile-info {
        .profile-badge {
            margin-left: 8px;
        }
        display: flex;
        align-items: center;
        font-size: 20px;
        .profile-fullname {
            margin-left: 16px;
        }
    }
}

.contact-list-separator-box {
    margin: 0 52px 2px 52px;
    .separator-horizontal {
        margin: 16px 0;
        width: 100%;
        height: 2px;
        background-color: #d1d1d1;
    }
    #separator-letter-span {
        margin-left: 36px;
    }
}

.contact-list-entry:hover {
    background-color: #EEEEEE;
}

.selected {
    background-color: #2A3647;
    color: white;
}

.selected:hover {
    background-color: #091931;
}

#drop_down_category {
    overflow-y: auto;
    .drop-down-category-entry {
        display: flex;
        justify-content: space-between;
        height: 24px;
        padding: 16px;
        border-radius: 10px;
        margin-bottom: 2px;
        span {
            font-size: 20px;
        }
    }
    .drop-down-category-entry:hover {
        background-color: #EEEEEE;
    }
}

#selected_contacts {
    position: absolute;
    width: 440px;
    max-height: 160px;
    overflow-y: auto;
    display: flex;
    margin-top: 8px;
    gap: 8px;
    flex-wrap: wrap;
}

.profile-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 42px;
    background-color: black;
    color: white;
    font-size: 12px;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 42px;
}

.help {
    font-size: 16px;
    .head-wrapper {
        display: flex;
        .go-back-button {
            position: fixed;
            right: 96px;
            top: 206px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32px;
            width: 32px;
            border-radius: 16px;
            margin-top: 19px;
            img {
                filter: invert(56%) sepia(81%) saturate(1182%) hue-rotate(165deg) brightness(94%) contrast(87%) !important;
            }
        }
        .go-back-button:hover {
            background-color: #eeeeee;
        }
    }
    .text-box-wrapper {
        display: flex;
        align-items: start;
        margin-top: 24px;
        h2 {
            font-size: 27px;
            font-weight: 700;
            margin-bottom: 16px;
            margin-right: 35px;
        }
        h3 {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 0;
        }
    }
    .enjoy {
        margin-top: 48px;
    }
}

.bord-add-tasks-field {
    main {
        position: relative;
        top: 0;
        left: 0;
        padding: 0;
    }
    h1 {
        margin: 32px 48px;
    }
    .add-task-form-section {
        gap: 160px;
    }
    .bottom-section {
        margin: 0 48px;
    }
}

#task-added-notification {
    position: absolute;
    bottom: 58%;
    left: 30%;
    width: 326px;
    height: 74px;
    color: white;
    background-color: #2a3647;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 420;
    display: none;
    span {
        margin-left: 30px;
    }
    img {
        margin-right: 30px;
    }
}

.notification-display {
    display: flex !important;
    animation: notification-display 0.9s;
}

@keyframes notification-display {
    from {
        bottom: 0%;
    }
    to {
        bottom: 58%;
    }
}

.custom-scrollbar::-webkit-scrollbar {
    width: 24px;
    padding-top: 10px;
    scrollbar-color: #A8A8A8 white;
}

.custom-scrollbar::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 44px;
    width: 10px;
    background-position: center 36px;
    background-repeat: no-repeat;
    background-image: url("./assets/img/arrow_scrollbar_up.svg");
}

.custom-scrollbar::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 64px;
    width: 10px;
    background-position: center 4px;
    background-repeat: no-repeat;
    background-image: url("./assets/img/arrow_scrollbar_down.svg");
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #A8A8A8;
    border-radius: 16px;
    border: 8px solid #ffffff;
}

@media(max-width: 1400px) {
    .empty-task-place {
        width: 200px;
        font-size: 14px;
    }

    .single-task-head {
        width: 200px;
    }
}

@media(max-width: 1300px) {
    .board-body-task {
        margin-left: 130px;
    }

    .board-head {
        margin-left: 130px;
    }

    .board-head-task {
        margin-left: 130px;
    }
}

@media(max-width: 1030px) {
    .board-body-task {
        margin-left: 48px;
    }

    .board-head {
        margin-left: 48px;
    }

    .board-head-task {
        margin-left: 48px;
    }

    .empty-task-place {
        width: 180px;
    }
}

@media(max-width: 970px) {
    .single-task-head {
        width: 160px;
    }
}