html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: "Inter", sans-serif;
    color: #2a3647;
    background-color: #f6f7f8;
}

.dnone {
    display: none;
}

::placeholder {
    font-family: "Inter", sans-serif;
    color: #d1d1d1;
}

a {
    text-decoration: none;
    cursor: pointer;
}


/* section-board-start */

.board-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 96px;
    height: 232px;
    margin-left: 272px;
    margin-right: 64px;
}

h1.board {
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
}

form.search-task-tag {
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid currentColor;
    border-radius: 5px;
}

form.search-task-tag:hover {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
}

input.search-task-in[type="search"] {
    border: none;
    background: transparent;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px 8px;
    font-size: 14px;
    border-radius: inherit;
    border-right: solid 1px transparent;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    border-color: rgba(128, 128, 128, 0.418);
}

input.search-task-input[type="search"]::placeholder {
    color: #bbb;
}

button.search-task-button[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: -999px;
    overflow: hidden;
    width: 32px;
    height: 32px;
    padding: 0;
    margin-right: 8px;
    margin-left: 8px;
    border: 1px solid transparent;
    border-radius: 100%;
    background: no-repeat transparent url('./assets/img/search-bord.png');
    background-position: center;
    opacity: 0.7;
}

input.search-task-input[type="search"]:hover,
button.search-task-button[type="submit"]:hover {
    background: no-repeat transparent url('./assets/img/search-bord-blue.png');
    background-position: center;
    cursor: pointer;
    opacity: 1;
    border: none;
}

input.search-task-in[type="search"]:focus {
    outline: none;
    border: none;
    border-radius: inherit;
    border-right: solid 1px transparent;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    border-color: rgba(128, 128, 128, 0.418);
}

form.search-task-tag:focus,
button.search-task-button[type="submit"]:focus {
    background-color: #E7E7E7;
    outline: none;
    border: none;
}

button.add-task {
    background-color: #2A3647;
    width: 160px;
    height: 56px;
    color: #FFFFFF;
    font-size: 21px;
    line-height: 25.2px;
    border-radius: 8px;
    border: none;
    margin-left: 32px;
}

button.add-task:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px #00000025;
    cursor: pointer;
}

.place-search-task {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-head-task {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 50.5px;
    margin-left: 272px;
    margin-right: 64px;
}

.single-task-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 246px;
}

.board-body-task {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 80.5px;
    margin-left: 272px;
    margin-right: 64px;
}

.style-task-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px;
    border-radius: 8px;
    border-color: #2A3647;
    gap: 10px;
    padding: 3px;
    width: 24px;
    height: 24px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

.empty-task-place {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 246px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    background-color: #E7E7E7;
    border: 1px;
    border-style: dashed;
    border-radius: 10px;
    border-color: #A8A8A8;
    gap: 10px;
}

.progress-bar {
    background-color: #F4F4F4;
    width: 128px;
    border-radius: 8px;
}

.progressbar {
    background-color: #4589FF;
    height: 20px;
    border-radius: 8px;
}


/* section-board-end */


/* single-task-style-start */

.single-task {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 252px;
}

p.user-story {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    padding: 4px 16px 4px 16px;
    background-color: #0038FF;
    gap: 10px;
    border-radius: 8px;
    text-align: center;
}

p.technical-task {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    padding: 4px 16px 4px 16px;
    background-color: #1FD7C1;
    gap: 10px;
    border-radius: 8px;
    text-align: center;
}

.place-task-progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-task-container {
    width: 252px;
    height: 252px;
    border-radius: 24px;
    padding: 16px;
    margin: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px 8px #00000009;
}


/* single-task-style-start */

/* information-card-start */

.information-bordcard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(24, 26, 27, 0.856);
    color: aquamarine;
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 32px;
}

.bord-add-tasks-field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 931px;
    width: 525px;
    background-color:#FFFFFF;
    border-radius: 30px;
}

/* information-card-end */


/* section-law-start */

.place-law-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1.legal-head {
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
}

.law {
    position: relative;
    top: 128px;
    margin-left: 240px;
    margin-right: 64px;
}

.place-law-head img {
    width: 21.33px;
    height: 20.74px;
}

.arrow-style {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 42px;
}

.arrow-style:hover {
    background-color: #EEEEEE;
}

.place-law-head img:hover {
    width: 23.93px;
}


/* section-law-end */

main {
    position: absolute;
    top: 96px;
    left: 232px;
    padding: 110px 96px;
    font-size: 20px;

    h1 {
        font-size: 61px;
        color: #000000;
        margin-top: 0;
        margin-bottom: 32px;
    }
}

.add_task {
    .add-task-form-section {
        display: flex;
        flex-direction: column;
        gap: 200px;

        .input-wrapper {
            display: flex;
            flex-direction: row;

            .input-box {
                width: 440px;
            }

            #separator-vertical {
                width: 2px;
                background-color: #d1d1d1;
                margin: 0 48px;
            }

            h3 {
                font-size: 20px;
                margin-top: 50px;
                font-weight: 400;
            }

            .required-header {
                display: flex;
            }

            .focus-blue:focus {
                outline: none;
                border: 1px solid #5dbee7 !important;
            }

            .styled-input {
                width: 398px;
                height: 48px;
                padding: 1px 20px;
                border: 1px solid #d1d1d1;
                border-radius: 10px;
                font-size: 20px;
            }

            .input-with-button-wrapper {
                position: relative;
                display: flex;
                align-items: center;

                a {
                    height: 24px;
                    width: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: -40px;
                    border-radius: 12px;
                }

                a:hover {
                    background-color: #f6f7f8;
                }
            }
        }
    }
}

#add_task_title {}

#add_task_description {
    .textarea-wrapper {
        position: relative;
        display: flex;
        align-items: center;
    }

    textarea {
        width: 398px;
        resize: vertical;
        border: 1px solid #d1d1d1;
        border-radius: 10px;
        min-height: 120px;
        font-size: 20px;
        padding: 20px;
    }

    ::-webkit-resizer {
        display: none;
    }

    .textarea-wrapper::after {
        position: absolute;
        pointer-events: none;
        content: "";
        height: 19px;
        width: 19px;
        bottom: 6px;
        right: 6px;
        background: url(./assets/img/resize-handler.png) no-repeat;
    }
}

#add_task_assigned_to {
    ::placeholder {
        color: black;
    }
}

#add_task_due_date {
    .calendar-input {
        position: absolute;
        right: 18px;
        color: transparent;
        border: 0;
        outline: none !important;
        background-color: transparent;
        width: 22px;
        height: 24px;
        padding: 0;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        color: rgba(0, 0, 0, 0);
        opacity: 1;
        display: block;
        background: url(./assets/img/calendar.png) center no-repeat;
        width: 18px;
        height: 20px;
        cursor: pointer;
    }
}

.add_task_prio {
    .prio-buttons {
        display: flex;
        justify-content: space-between;

        input {
            display: none;
        }

        label {
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: white;
            font-size: 20px;
            font-weight: 400;
            width: 136px;
            height: 56px;
            border: 1px solid #d1d1d1;
            box-shadow: 0px 0px 4px #d1d1d1;
            border-radius: 10px;
            transition: ease-in-out 100ms;

            img {
                width: 20px;
                margin-left: 8px;
            }

            [alt="urgent"] {
                filter: invert(41%) sepia(89%) saturate(5403%) hue-rotate(2deg) brightness(101%) contrast(107%);
            }

            [alt="medium"] {
                filter: invert(54%) sepia(99%) saturate(1276%) hue-rotate(5deg) brightness(111%) contrast(102%);
            }

            [alt="low"] {
                filter: invert(91%) sepia(88%) saturate(1842%) hue-rotate(32deg) brightness(94%) contrast(88%);
            }
        }

        label:not(.highlighted-button):hover {
            box-shadow: 0px 4px 4px #d1d1d1;
        }

        .highlighted-button {
            cursor: auto;
            background-color: #ffa800;
            color: white;
            font-size: 21px;
            font-weight: 700;
            border: none;

            img {
                filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(110deg) brightness(104%) contrast(101%) !important;
            }
        }
    }
}

#add_task_category {
    ::placeholder {
        color: black;
    }
}

#add_task_subtask {}

.add-task-form-left-bottom-section {
    position: absolute;
    bottom: 0px;
}

.bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: end;
    bottom: -8px;
    right: 96px;

    button {
        cursor: pointer;
        transition: ease-in-out 100ms;
        border-radius: 10px;
        height: 56px;
        margin-left: 16px;
        margin-bottom: 8px;

        img {
            margin-left: 10px;
        }
    }

    button.clear-button {
        width: 110px;
        background-color: #f6f7f8;
        border: 1px solid #2A3647;

        span {
            font-size: 20px;
            color: #2A3647;
        }

        img {
            margin-left: 10px;
            filter: invert(17%) sepia(10%) saturate(1965%) hue-rotate(176deg) brightness(92%) contrast(86%);
        }
    }

    button.clear-button:hover {
        border: 2px solid #5dbee7;
        box-shadow: 0px 4px 4px #d1d1d1;

        span {
            color: #5dbee7;
        }

        img {
            filter: invert(67%) sepia(42%) saturate(534%) hue-rotate(155deg) brightness(95%) contrast(90%);
        }
    }

    button.clear-button:active {
        border: 1px solid #091931;

        span {
            color: #091931;
        }

        img {
            filter: invert(7%) sepia(28%) saturate(3492%) hue-rotate(193deg) brightness(97%) contrast(97%);
        }
    }

    button.create-task-button {
        width: 183px;
        background-color: #2A3647;
        border: none;

        span {
            font-size: 21px;
            color: white;
        }
    }

    button.create-task-button:hover {
        background-color: #5dbee7;
        box-shadow: 0px 4px 4px #d1d1d1;
    }

    button.create-task-button:active {
        background-color: #091931;
    }
}

.help {
    font-size: 16px;

    .head-wrapper {
        display: flex;

        .go-back-button {
            position: fixed;
            right: 96px;
            top: 206px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32px;
            width: 32px;
            border-radius: 16px;
            margin-top: 19px;

            img {
                filter: invert(56%) sepia(81%) saturate(1182%) hue-rotate(165deg) brightness(94%) contrast(87%) !important;
            }
        }

        .go-back-button:hover {
            background-color: #eeeeee;
        }
    }

    .text-box-wrapper {
        display: flex;
        align-items: start;
        margin-top: 24px;

        h2 {
            font-size: 27px;
            font-weight: 700;
            margin-bottom: 16px;
            margin-right: 35px;
        }

        h3 {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 0;
        }
    }

    .enjoy {
        margin-top: 48px;
    }
}