.menu {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    padding: 36px;
    padding-left: 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 6px rgb(167, 167, 167);
    z-index: 990;
}

.menu span {
    font-size: 20px;
    margin-left: 348px;
}

.sec-menu {
    position: fixed;
    background-color: rgb(42, 54, 71);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0px;
    bottom: 0px;
    left: 0px;
    align-items: center;
    padding: 64px;
    z-index: 999;
}

.sec-menu img {
    width: 100px;
}

.sec-menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.sec-menu-flex {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}

.sec-menu-board {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-top: 20px;
}

.sec-menu-flex img {
    width: 30px;
    margin-right: 8px;
}

.sec-menu-flex-police {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.sec-menu-flex-police p {
    margin-top: 20px;
}