.d-none {
    display: none;
}

.menu {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    padding-left: 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 6px rgb(167, 167, 167);
    z-index: 990;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 56px;
    border-radius: 150px;
    border: 3px solid rgb(41, 41, 41);
    cursor: pointer;
    color: #29ABE2;
    font-size: 20px;
    font-weight: 700;
}

.menu-user:hover {
    background-color: rgb(228, 228, 228);

}

.menu-imges {
    display: flex;
    align-items: center;
    margin-right: 40px;
    gap: 12px;
}

.menu-help-img img {
    height: 20px;
    border: 0px;
}

.menu-help-img img:hover {
    height: 22px;
}

.menu span {
    font-size: 20px;
    margin-left: 348px;
}

.sec-menu {
    position: fixed;
    background-color: rgb(42, 54, 71);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0px;
    bottom: 0px;
    left: 0px;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
    z-index: 999;
}

.sec-menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.sec-menu-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec-menu-board {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-top: 20px;
    padding-left: 56px;
    padding-right: 56px;
}

.sec-menu-board:hover {
    transition: 0.2s;
    background-color: rgb(47, 71, 102);
}

.sec-menu-flex img {
    width: 30px;
    margin-right: 8px;
    image-rendering: pixelated;
}

.sec-menu-flex-police {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.sec-menu-flex-police p {
    color: #CDCDCD;
    padding-left: 60px;
    padding-right: 58px;
}

.sec-menu-flex-police p:hover {
    color: rgb(58, 140, 235);
}

.body-register {
    background-color: rgb(246, 247, 248);
    height: 100vh;
    width: 100%;
}

.register-sign-up-flex {
    position: absolute;
    display: flex;
    align-items: center;
    right: 120px;
    top: 60px;

    p {
        margin-right: 40px;
    }

    span {
        padding: 12px;
        color: white;
        background-color: rgb(42, 54, 71);
        border-radius: 8px;
    }

    span:hover {
        transition: 0.1s;
        background-color: rgb(41, 171, 226);
        box-shadow: 1px 4px 3px rgb(199, 199, 199);
        cursor: pointer;
    }
}

.start-register-background {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgb(246, 247, 248);
}

.start-register-background-none {
    transition: 1s;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.start-register-box {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 560px;
    width: 240px;
}

.start-register-box img {
    height: 50%;
}

.start-register-box-small {
    position: absolute;
    top: 0%;
    left: 0%;
    transition: 1s;
    height: 240px;
    width: 140px;
    margin-top: 80px;
    margin-left: 80px;
}

.start-register-box-small img {
    height: 50%;
}

.register-login-flex {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-login {
    background-color: white;
    height: 500px;
    width: 650px;
    border-radius: 30px;
    box-shadow: 0px 0px 8px rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-size: 62px;
        margin-top: 48px;
        margin-bottom: 0px;
    }

    input {
        height: 48px;
        width: 340px;
        padding-left: 20px;
        border-radius: 12px 0px 0px 12px;
        border-style: none;
        font-size: 20px;
        outline: none;
    }
}

.login-input {
    border-width: 1px;
    border-style: solid;
    border-color: #D1D1D1;
    border-radius: 12px;
    display: flex;
    align-items: center;

    img {
        width: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }
}

.register-login-checkbox {
    margin-right: 250px;
    margin-top: 24px;
    margin-bottom: 24px;

    input {
        height: 16px !important;
        width: 16px !important;
        cursor: pointer;
    }
}

.register-login-button-flex {
    width: 50%;
    display: flex;
    justify-content: space-between;

    a {
        color: rgb(42, 54, 71);
        font-weight: bold;
        font-size: 20px;
        padding: 12px;
        padding-left: 24px;
        padding-right: 24px;
        border-radius: 8px;
        border: solid 1px;
        height: 24px;
    }

    a:hover {
        transition: 0.1s;
        color: #29ABE2;
        box-shadow: 1px 4px 3px rgb(199, 199, 199);
        border: solid 2px;
        cursor: pointer;
    }
}

.register-login-sign-up-button {
    color: white;
    background-color: rgb(42, 54, 71);
    font-weight: bold;
    font-size: 20px;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 8px;
    border: solid 2px;
    border-color: rgb(42, 54, 71);
    margin-bottom: 40px;
}

.register-login-sign-up-button:hover {
    transition: 0.1s;
    background-color: rgb(41, 171, 226);
    box-shadow: 1px 4px 3px rgb(199, 199, 199);
    border-color: rgb(41, 171, 226);
    cursor: pointer;
}

.register-sign-up-box {
    background-color: white;
    height: 700px;
    width: 650px;
    border-radius: 30px;
    box-shadow: 0px 0px 8px rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-size: 62px;
        margin-top: 48px;
        margin-bottom: 0px;
    }

    input {
        height: 48px;
        width: 340px;
        padding-left: 20px;
        border-radius: 12px 0px 0px 12px;
        border-style: none;
        font-size: 20px;
        outline: none;
    }
}

.register-sign-up-img {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        padding: 4px;
    }

    img:hover {
        background-color: #CDCDCD;
        border-radius: 50px;
        padding: 4px;
        width: 22px;
        cursor: pointer;
    }
}

.register-sign-up-checkbox {
    margin-top: 24px;
    margin-bottom: 24px;

    a {
        color: #29ABE2;
    }

    input {
        height: 16px !important;
        width: 16px !important;
        cursor: pointer;
    }
}

.register-spacer {
    color: #29ABE2;
    border-radius: 5px;
    border: solid 2px;
    width: 150px;
    margin-bottom: 32px;
    margin-left: 30px;
}

.login-spacer {
    color: #29ABE2;
    border-radius: 5px;
    border: solid 2px;
    width: 150px;
    margin-bottom: 32px;
}

.register-rights {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 3%;

    a {
        color: rgb(168, 168, 168);
        margin-right: 16px;
        padding: 8px;
    }

    a:hover {
        color: #29ABE2;
        font-weight: bold;
        padding: 6px;
    }
}

.singed-Up-Succes {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    animation: singed-Up-Succes-2 1s;

    span {
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%);
        animation: singed-Up-Succes-animation 1s;
        color: white;
        background-color: rgb(42, 54, 71);
        font-size: 20px;
        padding: 14px;
        padding-left: 24px;
        padding-right: 24px;
        border-radius: 8px;
    }
}

@keyframes singed-Up-Succes-animation {
    from {
        bottom: 0%;
    }

    to {
        bottom: 50%;
    }
}

@keyframes singed-Up-Succes-2 {
    from {
        background-color: rgba(0, 0, 0, 0.0);
    }

    to {
        background-color: rgba(0, 0, 0, 0.5);
    }
}