.menu {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    padding-left: 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 6px rgb(167, 167, 167);
    z-index: 990;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 56px;
    border-radius: 150px;
    border: 3px solid rgb(41, 41, 41);
    cursor: pointer;
    color: #29ABE2;
    font-size: 20px;
    font-weight: 700;
}

.menu-user:hover {
    background-color: rgb(228, 228, 228);

}

.menu-imges {
    display: flex;
    align-items: center;
    margin-right: 40px;
    gap: 12px;
}

.menu-help-img img {
    height: 20px;
    border: 0px;
}

.menu-help-img img:hover {
    height: 22px;
}

.menu span {
    font-size: 20px;
    margin-left: 348px;
}

.sec-menu {
    position: fixed;
    background-color: rgb(42, 54, 71);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0px;
    bottom: 0px;
    left: 0px;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
    z-index: 999;
}

.sec-menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.sec-menu-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec-menu-board {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-top: 20px;
    padding-left: 56px;
    padding-right: 56px;
}

.sec-menu-board:hover {
    transition: 0.2s;
    background-color: rgb(47, 71, 102);
}

.sec-menu-flex img {
    width: 30px;
    margin-right: 8px;
    image-rendering: pixelated;
}

.sec-menu-flex-police {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.sec-menu-flex-police p {
    color: #CDCDCD;
    padding-left: 60px;
    padding-right: 58px;
}

.sec-menu-flex-police p:hover {
    color: rgb(58, 140, 235);
}

.body-register{
    background-color: rgb(246,247,248);
}

.start-register {
    position: absolute;
    background-color: rgb(246,247,248);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-register-small {
    transition: 1s;
    width: 100px;
    height: 120px;
    margin-left: 80px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-register-small img {
    width: 100px;
}