<div class="menu">
    <span>Kanban Project Managment Tool</span>
    <div class="menu-imges">
    <a href="help.html" class="menu-help-img"><img src="assets\img\help_icon.png"></a>
    <p class="menu-user" id="menu_user" onclick="openMenu()">G</p>
    <div id="menu_open"></div>
</div>
</div>
<div class="sec-menu">
    <img src="/assets/img/Join.png">
    <div class="sec-menu-flex">
        <a href="summary.html" class="sec-menu-board sec-menu-board-summary"><img src="assets\img\summary_icon.png"><span>Summary</span></a>
        <a href="add_task.html" class="sec-menu-board sec-menu-board-task"><img src="assets\img\add_task_icon.png"><span>Add Task</span></a>
        <a href="board.html" class="sec-menu-board sec-menu-board-board"><img src="assets\img\board_icon.png"><span>Board</span></a>
        <a href="contacts.html" class="sec-menu-board sec-menu-board-contacts"><img src="assets\img\contacts_icon.png"><span>Contacts</span></a>
    </div>
    <div class="sec-menu-flex-police">
        <a href="privacy_policy.html" class="sec-menu-board-policy">
            <p>Privacy Policy</p>
        </a>
        <a href="legal_notice.html" class="sec-menu-board-legal-notice">
            <p>Legal notice</p>
        </a>
    </div>
</div>