<div class="menu">
    <span>Kanban Project Managment Tool</span>
    <img src="">
    <img src="" onclick="openProfile()">
</div>
<div class="sec-menu">
    <img src="/assets/img/Join.png">
    <div class="sec-menu-flex">
        <a href="" class="sec-menu-board"><img src="assets\img\summary_icon.png"><span>Summary</span></a>
        <a href="" class="sec-menu-board"><img src="assets\img\add_task_icon.png"><span>Add Task</span></a>
        <a href="" class="sec-menu-board"><img src="assets\img\board_icon.png"><span>Board</span></a>
        <a href="" class="sec-menu-board"><img src="assets\img\contacts_icon.png"><span>Contacts</span></a>
    </div>
    <div class="sec-menu-flex-police">
        <a href="privacy_policy.html">
            <p>Privacy Policy</p>
        </a>
        <a href="legal_notice.html">
            <p>Legal notice</p>
        </a>
    </div>
</div>