<div class="menu">
    <span>Kanban Project Managment Tool</span>
    <img src="">
    <img src="" onclick="openProfile()">
</div>
<div class="secMenu">
    <img src="/assets/img/Join.png">
    <!-- <div> -->
    <div class="sec-menu-top-links">
        <a href=""><span>Summary</span></a>
        <a href=""><span>Add Task</span></a>
        <a href=""><span>Board</span></a>
        <a href=""><span>Contacts</span></a>
    </div>
    <!-- <div> -->
    <div class="sec-menu-bottom-links">
        <a href=""><span>Privacy Policy</span></a>
        <a href=""><span>Legal notice</span></a>
    </div>
</div>