<div class="menu">
    <img src="assets/img/join-register.png" class="menu-joinlogo-handy">
    <span>Kanban Project Managment Tool</span>
</div>
<div class="sec-menu">
    <img src="/assets/img/Join.png">
    <div class="sec-menu-flex-police">
        <a href="privacy_policy_register.html" class="sec-menu-board-policy">
            <p>Privacy Policy</p>
        </a>
        <a href="legal_notice_register.html" class="sec-menu-board-legal-notice">
            <p>Legal notice</p>
        </a>
    </div>
</div>